/**
 * 覆盖element-ui scss 变量
 */
@import "./variables";


/* Color
-------------------------- */
$--color-white: $primary-background-color !default;
$--color-primary: $primary-highlight !default;
$--border-color-base: #282f3a !default;
$--color-text-regular: $primary-color !default;
$--background-color-base: $second-background-color !default;
$--border-color-light: #282f3a !default;

// select
$--select-border-color-hover: $primary-highlight !default;
$--select-option-hover-background: #30353a !default;
$--select-dropdown-border: solid 1px $primary-highlight !default;

// collapse
$--collapse-content-background-color: $second-background-color !default;
$--collapse-header-height: 40px !default;

// popover
$--popover-border-color: $primary-highlight !default;

$--color-text-primary: #bcc9d4 !default;
$--border-color-lighter: #2f3534 !default;

// tooltip
$--tooltip-border-color: #000 !default;
$--tooltip-color: #fff !default;
$--tooltip-fill: transparentize($primary-highlight, 0.2) !default;

// border
$--border-radius-base: 2px !default;

$--font-path: '~element-ui/lib/theme-chalk/fonts';

// input
$--input-hover-border: $primary-highlight !default;

// radio
$--radio-font-size: 12px !default;
$--radio-font-weight: 300 !default;
$--radio-checked-icon-color: #000;
$--radio-input-border: 2px solid $primary-color !default;

// button
$--button-primary-font-color: #fff;
$--button-primary-background-color: transparent;

// slider
// $--slider-runway-background-color: #E4E7ED !default;

// tabs
$--tab-font-size: 12px !default;

@import "~element-ui/packages/theme-chalk/src/index";