// the forecolor and backgroundcolor.
$primary-color: rgb(188, 201, 212);
$primary-background-color: rgb(27, 31, 30);
$primary-text-color: $primary-color;
$primary-highlight: #24b1ff;

// layout
$top-heading-background: $primary-background-color;
$left-sidebar-background: $primary-background-color;
$right-sidebar-background: $primary-background-color;
$bottom-footer-background: $primary-background-color;

$top-heading-height: 45px;
$left-sidebar-width: 220px;
$right-sidebar-width: 300px;
$bottom-footer-height: 40px;


