// the forecolor and backgroundcolor.
$primary-color: rgb(188, 201, 212);
$primary-background-color: #212427;
$second-background-color: #15171a;
$primary-text-color: $primary-color;
$primary-highlight: #00e5ff;

// color | success
$--color-success: #67C23A;
// color | warning
$--color-warning: #E6A23C;
// color | danger
$--color-danger: #F56C6C;
// color | info
$--color-info: #909399;

// layout
$top-heading-background: $primary-background-color;
$left-sidebar-background: $primary-background-color;
$right-sidebar-background: $primary-background-color;
$bottom-footer-background: $primary-background-color;

$top-heading-height: 45px;
$left-sidebar-width: 180px;
$right-sidebar-width: 340px;
$bottom-footer-height: 40px;


