/* components setting */
.component-setting {
  height: 100%;
  overflow-y: auto;
}
.component-setting-heading {
  text-align: center;
  font-weight: 400;
  padding: 10px 0;
}
.component-setting-input {
  padding: 0 5px;
}
.component-setting-input-text {
  display: inline-block;
  color: #888;
  margin-right: 10px
}
.dp-form-item {
  position: relative;
  margin-bottom: 15px;
}
.dp-form-item:after, .dp-form-item:before {
  display: table;
  content: "";
}
.dp-form-item:after {
  clear: both;
}
.dp-form-label {
  padding: 10px 0;
  display: inline-block;
  color: #333;
  position: absolute;
  left: 0;
  width: 80px;
  line-height: 1;
}
.dp-form-label i.question {
  color: #00c1de;
  margin-left: 5px;
}
.dp-form-input-wrap {
  margin-left: 80px;
}

.el-collapse-item__header {
  padding-left: 16px;
}
.el-collapse-item__content {
  padding: 16px;
}
.dp-component {
  position: absolute;
}