@import './variables.scss';

a {
  color: $primary-highlight;
}
/* components setting */
.dp-setting {
  height: 100%;
  overflow-y: auto;
}
.dp-setting-heading {
  text-align: center;
  font-weight: 400;
  padding: 10px 0;
}
.dp-setting-input {
  padding: 0 5px;
}
.dp-setting-input-text {
  font-size: 12px;
  font-weight: 300;
  display: inline-block;
  color: $primary-color;
  margin-right: 10px;
}
.dp-form-item {
  position: relative;
  margin-bottom: 15px;
}
.dp-form-item:after, .dp-form-item:before {
  display: table;
  content: "";
}
.dp-form-item:after {
  clear: both;
}
.dp-form-label {
  position: absolute;
  left: 0;
  width: 80px;
  padding: 10px 0;
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
  color: $primary-color;
  line-height: 1;
}
.dp-form-label i.question {
  color: #00c1de;
  margin-left: 5px;
}
.dp-form-input-wrap {
  margin-left: 80px;
}

.el-collapse-item__header {
  padding-left: 16px;
}
.el-collapse-item__content {
  padding: 16px;
}
.dp-component {
  position: absolute;
}

/* components base style in canvas */
.dp-component {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  cursor: move;
  display: block;
  overflow: hidden;
}
.dp-component.hover:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,192,222,.2);
  border: 1px solid #419bf9;
}
.dp-charts-container {
  width: 100%;
  height: 100%;
}


// overide for element-ui
.el-radio__inner:after {
  background-color: $primary-highlight !important;
}