@import './variables.scss';

a {
  color: $primary-highlight;
}

/* components base style in canvas */
.dp-component {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  cursor: move;
  display: block;
  overflow: hidden;
}
.dp-component.hover:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,192,222,.2);
  border: 1px solid #419bf9;
}
.dp-charts-container {
  width: 100%;
  height: 100%;
}


// overide for element-ui
.el-radio__inner:after {
  background-color: $primary-highlight !important;
}
.el-tabs__item {
  font-size: 12px !important;
  height: 35px !important;
  line-height: 35px !important;
}
.el-collapse-item__header {
  padding-left: 16px;
}
.el-collapse-item__content {
  padding: 12px 16px !important;
}


// dp-form
.dp-form-item {
  margin: 0;
  padding: 0;
  color: $primary-color;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.5;
  box-sizing: border-box;
  margin-bottom: 12px;
}

.dp-form-horizontal {
  .dp-form-label {
    float: left;
    width: 60px;
    margin-top: 5px;
  }

  .dp-form-control {
    margin-left: 60px;
  }
}


.dp-form-inline {
  .dp-form-control {
    display: inline-block;
  }

  .dp-form-label {
    @extend .dp-form-control;
    margin-right: 8px;
  }
}

.dp-form-vertical {
  .dp-form-label {
    display: block;
    text-align: left;
    margin-bottom: 4px;
  }

  .dp-form-control {
    display: block;
  }
}
